<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitácora | Registro de cambios</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.4/datatables.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">CitiUtez</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/session}">Registro de sesiones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Registro de cambios</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-success" type="submit">Salir</button>
            </form>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center" >
    <div class="container mt-3">
        <div class="text-center">
            <h2 class="card-title">Bitácora de movimientos</h2>
            <p style="font-size:30px; margin-bottom:-5px; font-weight: 300">Registro de cambios</p>
        </div>
        <table id="example" class="table table-striped hover">
            <thead>
            <tr>
                <th>RFC del cliente</th>
                <th>E-mail del empleado</th>
                <th>Información</th>
                <th>Acción</th>
                <th>Fecha y hora</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ADUFU13AOWDHN</td>
                <td>Smith@gmail.com</td>
                <td>XD@gmail.com</td>
                <td>datos del cliente</td>
                <td>2011/04/25:12:32</td>
            </tr>
            <tr>
                <td>ADUFU13AOWDHN</td>
                <td>Smith@gmail.com</td>
                <td>XD@gmail.com</td>
                <td>datos del cliente</td>
                <td>2011/04/25:12:32</td>
            </tr>
            <tr>
                <td>ADUFU13AOWDHN</td>
                <td>Smith@gmail.com</td>
                <td>XD@gmail.com</td>
                <td>datos del cliente</td>
                <td>2011/04/25:12:32</td>
            </tr>
            <tr>
                <td>ADUFU13AOWDHN</td>
                <td>Smith@gmail.com</td>
                <td>XD@gmail.com</td>
                <td>datos del cliente</td>
                <td>2011/04/25:12:32</td>
            </tr>
            <tr>
                <td>ADUFU13AOWDHN</td>
                <td>Smith@gmail.com</td>
                <td>XD@gmail.com</td>
                <td>datos del cliente</td>
                <td>2011/04/25:12:32</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.4/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
    $('#example').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Sin registros",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Registros no disponibles",
                "infoFiltered": "(filtrados desde _MAX_ total registros)"
            }
        });
} );
</script>
</body>
</html>