<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CitiUtez | Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>CitiUtez | Login</title>
</head>
<body style="background-color:#C4C4C4">


<div class="d-flex justify-content-center align-items-center align-self-center m-1" >
    <div class="card text-center mt-5" style="width: 27rem; height: 30rem">
        <div class="card-body">
            <form th:action="@{/login}" th:object="${loginForm}" method="post">
                <p style="font-size:22px; margin-bottom:-5px; font-weight: 300">CitiUtez</p>
                <h2 class="card-title">Iniciar Sesión</h2>
                <div class="text-center">
                    <img th:src="@{/img/Vector.png}" class="rounded" width="100" height="100" alt="user">
                </div>
                <div class="input-group flex-nowrap mt-3 mb-2 p-2">
                    <input type="text" class="form-control" placeholder="email" name="email">
                    <span class="material-icons input-group-text">mail</span>
                </div>
                <div class="input-group flex-nowrap mt-2 mb-5 p-2">
                    <input type="password" class="form-control" placeholder="password" name="password">
                    <span class="material-icons input-group-text gray">lock</span>
                </div>
                <button type="submit" class="btn btn-primary " style="width:250px; background-color:#24752C">Acceder</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>